* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --w-max-width: 1100px;
    --c-black: #171717;
    --c-green: #007233;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: grid;
    place-items: center;
    padding: 5px 0;

    &>.nav_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        max-width: var(--w-max-width);

        &>div {
            display: flex;
            gap: 30px;

            &>a {
                text-decoration: none;
                color: var(--c-black);
                font-size: 1.2rem;
            }
        }
    }
}

#hero {
    height: 70vh;
    background: linear-gradient(300deg, rgba(106, 193, 21, 1) 0%, rgba(0, 114, 51, 1) 15%, rgba(4, 117, 50, 1) 85%, rgba(106, 193, 21, 1) 100%);
    display: grid;
    place-items: center;
    position: relative;

    &>.hero_container {
        margin-top: -10%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;

        &>div {
            min-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 10px;

            &>h1 {
                font-weight: normal;
                font-size: 65px;
                color: #fff;
            }

            &>p {
                color: #fff;
                font-size: 30px;
            }

            &>a {
                margin-top: 35px;
                padding: 10px 35px;
                background-color: #fff;
                text-decoration: none;
                color: #007233;
                font-weight: 600;
                border-radius: 20px;
                font-size: 1.1rem;
            }
        }

        &>img {
            margin-left: -250px;
            margin-top: 350px;
           
            object-fit: cover;
            object-position: right;
        }
    }

    & > .toast_1 {
        position: absolute;
        bottom: 10px;
        left: 50px;
        animation: float 5s ease-in-out infinite, tilt 5s ease-in-out infinite;
    }

    & > .toast_2{
        position: absolute;
        bottom: 10%;
        left: 45%;
        animation: float 5s ease-in-out infinite, tilt 5s ease-in-out infinite;
    }

    & > .toast_3{
        position: absolute;
        top: 5%;
        right: 10%;
        animation: float 5s ease-in-out infinite, tilt 5s ease-in-out infinite;
    }
}

  /* Animação de flutuação */
  @keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Animação de inclinação */
@keyframes tilt {
    0%, 100% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
        transform: rotateX(10deg) rotateY(5deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    75% {
        transform: rotateX(-10deg) rotateY(-5deg);
    }
}

#services {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 90px;

    &>h2 {
        color: #90dd0a;
        font-size: 3rem;
    }

    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        &>.card_item {
            height: 300px;
            width: 300px;
            background-color: #90dd0a;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 20px;
            padding: 50px 30px 30px 30px;

            &>.title {
                font-weight: 600;
                color: var(--c-green);
            }

            &>p {
                color: var(--c-green);
                text-align: justify;
                font-size: 1.1rem;
            }
        }

        &>.card_item_variant {
            background-color: var(--c-green);

            &>.title {
                font-weight: 600;
                color: #fff;
            }

            &>p {
                color: #fff;
            }
        }
    }
}

#do_sun_work {
    width: 100%;
    display: grid;
    place-items: center;
}

.do_sun_work_container {
    width: 95%;
    max-width: var(--w-max-width);
    display: flex;
    align-items: center;
    justify-content: center;

    &>div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;

        width: 30%;
        min-width: 500px;

        &>h2 {
            color: var(--c-green);
            font-size: 3.5rem;
            font-weight: normal;
        }

        &>p {
            font-size: 1.4rem;
        }

        &>a {
            background-color: #90dd0a;
            color: var(--c-green);
            padding: 10px 35px;
            border-radius: 20px;
            text-decoration: none;
        }
    }

    &>img {
        width: 50%;
        max-height: 800px;
        object-fit: contain;
    }
}

#future_is_solar {
    padding: 50px 0;
    background-color: #90dd0a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &>h2 {
        color: #fff;
        font-size: 6rem;
    }

    &>h3 {
        color: var(--c-green);
        text-transform: uppercase;
        font-weight: 400;
    }

    &>a {
        background-color: var(--c-green);
        color: #fff;
        padding: 10px 35px;
        border-radius: 20px;
        text-decoration: none;
    }
}

footer {
    display: grid;
    place-items: center;
    padding: 150px 0 70px 0;

    &>.footer_container {
        width: 95%;
        max-width: var(--w-max-width);
        display: flex;
        align-items: center;
        justify-content: space-between;

        &>.data_contact {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 50px;

            &>h2 {
                color: var(--c-green);
                font-size: 2.5rem;
            }

            &>a {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 5px;
                text-decoration: none;

                &>.title {
                    color: var(--c-green);
                    font-weight: 600;
                    font-size: 1.1rem;
                }

                &>.link {
                    color: var(--c-black);
                    font-weight: 550;

                }
            }
        }
    }
}

.novaya {
    width: 100%;
    text-align: center;
    font-weight: 400;
    padding: 30px 0;
}

@media (max-width: 32rem) {
    nav {
        &>.nav_container {
            
            & > img {
                width: 215px;
                height: auto;
            }
            
            &>div {
                flex-direction: column;
                gap: 5px;
            }
        }
    }

    #hero {
        width: 100%;
        padding: 50px 0;
        height: auto;
        display: grid;
        place-items: center;
        position: relative;

        background-color: rebeccapurple;
    
        &>.hero_container {
            width: 95%;
            min-width: 0;
            margin-top: 0%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            &>div {
                min-width: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
    
                &>h1 {
                    text-align: center;
                    font-size: 40px;
                }
    
                &>p {
                    text-align: center;
                    font-size: 20px;
                }
    
                &>a {
                    margin-top: 35px;
                }
            }
    
            &>img {
                margin-left: 0px;
                margin-top: 50px;
                width: 95%;
            }
        }
    
        & > .toast_1 {
            display: none;
        }
    
        & > .toast_2{
            display: none;
        }
    
        & > .toast_3{
            display: none;
        }
    }

    #do_sun_work {
        width: 100%;
        min-width: none;
        padding: 40px 0;

        & > .do_sun_work_container {
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;

            & > div {
                width: 100%;
                min-width: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                & h2 {
                    width: 100%;
                    font-size: 2.8rem;
                    text-align: center;
                    word-break: break-all;
                }
                
                & > p {
                    width: 100%;
                    text-align: center;

                }
            }
        }
    }

    #services {
        padding: 50px 0;
        gap: 50px;
    
        &>h2 {
            font-size: 2.5rem;
        }
    
        &>div {
            flex-direction: column;
            gap: 10px;
        }
    }

    #future_is_solar {
        padding: 50px 0;
        gap: 25px;
    
        &>h2 {
            font-size: 4rem;
            text-align: center;
        }
    
        &>h3 {
            text-align: center;
        }

        & > .img_placa_solar {
            width: 95%;
            height: auto;
        }
    }

    footer {
        display: grid;
        place-items: center;
        padding: 50px 0;
        margin-left: -20px;
    
        &>.footer_container {
            width: 80%;
            max-width: var(--w-max-width);
            flex-direction: column;
            gap: 15px;
    
            &>.data_contact {
                gap: 15px;
            }
        }
    }
}
